services:
  db:
    image: postgres:16
    environment:
      POSTGRES_DB: disqrails_development
      POSTGRES_HOST_AUTH_METHOD: trust
    volumes:
      - pgdata:/var/lib/postgresql/data
    ports:
      - "5432:5432"

  web:
    build: .
    ports:
      - "3000:3000"
    depends_on:
      - db
    environment:
      DATABASE_URL: postgres://postgres:postgres@db/disqrails_development
      RAILS_ENV: production
      SECRET_KEY_BASE: dev_secret_key_base_not_for_production

volumes:
  pgdata:
